.infoPanel {
  position: absolute;
  background-color: #e6e6e6;
  opacity: 0.9;
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  border-width: thin;
  display: flex;
  flex-direction: row;
  align-items: center;
}
