.searchRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoButton {

  background-color: #3B5A97;
  margin: 3px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
  color: #FFFFFF;
}
.searchButton {
  flex-grow: 1;
  background-color: #1E90FF;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;

}

.fetchState {
  font-size: 0.7em;
}
