.map-holder{

  width: 65%;
  float: left;
  overflow: auto;
  position: relative
}


.eventlist-holder{
  width: 35%;
  height: 100%;
  float: right;
  overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
    margin: 10px 0;
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.5);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.75);
}
