
.window {
  position: absolute;
  z-index: 99;
  width: 85%;
  height: auto;
  max-height: 85%;
  margin: 5%;
  background: #FFFFFF;
  border-radius: 5px;
  word-wrap: break-word;
  overflow: auto;


}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lhs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  font-size: 1.2em;
}
.score {
  margin: 9px;
}

.findRoute {
  font-size: 0.8em;
}
.body {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4%;
}
.time {
  font-size: 0.7em;
  margin-bottom: 10px;
}
