.outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}
.outer:hover {
  background-color:#C0C0C0;
}

.outer-selected {
  background-color:#C0C0C0;
}

.score {
  font-size: 1.2em;
}

.inner {
  /*border: 2px solid grey;*/
  /*height: 120px;*/
  margin: 7px;
}
.title {
  text-decoration: none;
}

.description {
  font-size: 0.8em;
}
